In [7]:
ex=["laptop", 39000,"window","lenovo","bengluru","laptop",39000,"mac","lenovo","chikodi"]
print(ex)
print(ex.count("lenovo"))

['laptop', 39000, 'window', 'lenovo', 'bengluru', 'laptop', 39000, 'mac', 'lenovo', 'chikodi']
2

In [19]:
#inpt function
a=10
b=20
print(a+b)

#run time program
x=int(input("enter x value:"))
y=int(input("enter y value"))
print(x+y)

#addition of 10 and 20 value is =30
x=10
y=20
print("addition of ",x,"and",y,"value is =",x+y)

30
enter x value:10
enter y value20
30
addition of  10 and 20 value is = 30

In [25]:
first=float(input("enter first value:"))
second=float(input("enter second value:"))
print(first*second)

first_name=input("enter first name")
last_name=input("enter the last name")
print(first_name+" "+last_name)

#mul of 2 no

i=int(input("enter the first value:"))
j=int(input("enter the second value"))
print(i*j)

enter first value:10
enter second value:5
50.0
enter first nameprachi
enter the last namekamatagi
prachi kamatagi
enter the first value:7
enter the second value6
42

In [28]:
i=input()
j=input()
print(i+" "+j)

BKC
COLLEGE
BKC COLLEGE

In [29]:
x=100
y=50
print(f'addtion of {x} and {y} value is = {x+y}')

addtion of 100 and 50 value is = 150

In [31]:
#hi, good morning my name is prachi, i have completed puc in the year of 2024,currently i am studyng in KLE BK COLLEGE CHKODI 591201
name="prachi"
course="puc"
year=2024
college="KLE BK COLLEGE CHIKODI"
pincode=591201
print(f'hi, good morning my name is {name}, i have completed {course} in the year of{year},currently i am studying in{college} {pincode}')

hi, good morning my name is prachi, i have completed puc in the year of2024,currently i am studying inKLE BK COLLEGE CHIKODI 591201

In [32]:
num1=5
num2=10
sum=num1*num2
print(sum)

50

In [38]:
a=10
b=5
print("addition of 2 no:",a+b)
print()
print("substraction of 2no :",a-b)
print("multiplication of 2 no:",a*b)
print("divison of 2 no:",a/b)
print("floor division of 2 no:",a//b)
print("modulus of 2 no:",a%b)

addition of 2 no: 15

substraction of 2no : 5
multiplication of 2 no: 50
divison of 2 no: 2.0
floor division of 2 no: 2
modulus of 2 no: 0

In [39]:
x=5
y=3
print("exponent value is :",x**y)

exponent value is : 125

In [43]:
num1=35
num2=40
print(num1>num2)
print(num2<num1)
print(num1==num2)
print(num1!=num2)
print(num1>=num2)
print(num1<=num2)
print(num2==num1)
print(num2!=num1)
print(num2>num2)
print(num2<num1)
print(num2>=num1)
print(num2<=num1)

False
False
False
True
False
True
False
True
False
False
True
False

In [52]:
a=20
b=35
c=13
d=10
print(a==b and c<d)
print(13!=c and d<c)
print(b>a and d<c)
print(20!=a and c==b)
print(a<b or d==c)
print((not(a<b))and 100<200)
print(not(d==10))
print(35!=d or (not(20==a)))
print(not(c<=b and (not(a<=c))))

False
False
True
False
True
False
False
True
False

In [65]:
x=10
print(x)

x-=2          #x=x-2,x=10-2
print(x)

x*=5          #x=x*5,x=8*5
print(x)

x//=3         #x=x//3,x=40//3
print(x)


x**=2         #x=x**2,x=13**2
print(x)

x%=4          #x=x%4,x=169%4
print(x)

x+=9          #x=x+2,x=1+9
print(x)

x/=3          #x=x/3,x=10/3
print(x)

10
8
40
13
169
1
10
3.3333333333333335

In [67]:
num=9
if num<10:
  print("10 is a greater than 9")

10 is a greater than 9

In [76]:
user_id = "2030BCA00"
passwaord=3042007
if user_id == "2030BCA00" and passwaord== 3042007:
      print("login successfully")

login successfully

In [77]:
ex=59
if ex==58:
  print("are you understand")

In [79]:
name="prachi"
if name<="BKC":
  print("my name is prachi")

In [83]:
num=int(input("enter number value:"))
if num>0:
  print("positive number")
else:
  print("negative number")

enter number value:69
positive number

In [92]:
num=int(input("enter number value:"))
if num% 2 ==0:
       print("even number")
else :
       print("odd number")

enter number value:1000
even number

In [99]:
year = int(input("enter a year value"))
if year % 4 == 0:
        print("leap year")
else:
       print("not leap year")

enter a year value2025
not leap year

In [102]:
num= int(input("enter a age value"))
if num >=18:
    print("they are eligible for voting")
else:
    print("they have to wait")

enter a age value21
they are eligible for voting

In [112]:
password =(input("enter the password :"))
user_id = (input("enter the user_id:"))
if password == "1234" and user_id == "prachi":
  print("login successful")
else:
  print("login unsccessfull")

enter the password :1234
enter the user_id:prachi
login successful

In [114]:
marks =int(input("enter the class value:"))
if marks >= 85:
  print("distction")
elif marks >= 70:
  print("first class")
elif marks >=55:
  print("second class")
elif marks >= 35:
   print("just pass")
else:
  print("fail better luck next chance")

enter the class value:100
distction

In [123]:
price = input("enter price medal:")
if price == "gold":
    print("first price")
elif price == "silver":
     print("second price")
elif price== "bronze":
     print("third price")
elif price == "certificate":
     print("samadhanakara bhumana")
else :
      print("better luck next time")

enter price medal:gold
first price

In [124]:
colour= input("enter trafic colour:")
if colour== "red":
   print("stop")
elif colour == "yellow":
   print("ready to go")
elif colour  == "green":
  print("go")
elif colour=="white":
  print("invalid rules")
else :
  print("not a trafic rules")

enter trafic colour:red
stop