In [ ]:
a,b,c=20,50,40
if a > b :
  if a > c:
      print("a is greater no")
  else :
      print("c is greater no")
else :
     if b>c:
         print("b is greater no")
     else :
         print("c is greater no")

b is greater no

In [ ]:
num=int(input("enter no value is :"))
if num>=0:
   if num == 0:
      print("zero value")
   else:
      print("positive number")
else:
      print("negative no")

enter no value is :0
zero value

In [ ]:
#write a program  arithmatic operations using match/switch statement
x,y =10,20
option = input("enter your choice option")
match option :
  case  '+':
    print("sum of value ",x+y)
  case '-':
   print:("substraction of values ",x-y)
  case'*':
    print("multiplication of values ",x*y)
  case'/':
    print("division of values ",x/y)
  case'%':
    print("modulous of values",x%y)
  case '_':
    print("invalide operater")
  case '!=' :
    print("its not equal",x!=y)

enter your choice option!=
its not equal True

In [ ]:
day =int(input("enter the day"))
match day:
  case 1: print("monday")
  case 2: print("tuesday")
  case 3: print("wednesday")
  case 4: print("thursday")
  case 5: print("friday")
  case 6: print("saturday")
  case 7: print("sunday ")

enter the day6
saturday

In [ ]:
months=int(input("enter the months :"))
match months:
  case 1 :print("january")
  case 2 : print("febuary")
  case 3 : print("march")
  case 4 : print("april")
  case 5 : print("may")
  case 6 : print("june")
  case 7 : print("july")
  case 8 : print("augst")
  case 9 : print("september")
  case 10 : print("october")
  case 11 : print("november")
  case 12 : print("december")

enter the months :4
april

In [ ]:
i = 1
while i <= 60 :
      print(i)
      i +=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60

In [ ]:
#write the program on sum of n natural no
i=1
add = 0
while i <= 10:
      add=add+i
      i=i+1
      print(add)

1
3
6
10
15
21
28
36
45
55

In [ ]:
num=5
i=1
while i<=10:
  print("5 *",i,"=",num*i)
  i=i+1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
num=153
rem=0
sum=0
temp=num
while num >0:
      rem =num%10
      sum =sum+rem*rem*rem
      num =sum//10
if temp == sum:
      print("armstrong number")
else :
      print("not armstrong number")

In [ ]:
num=12321
rem=0
rev=0
temp=num
while num>0:
      rem = num % 10
      rev = rev *10 + rem
      num =num //10
if temp==rev:
   print("polindrom number")
else
   print("not polindrom number")

In [ ]:
i=2
while i<=100:
     print(i, end = " ")
     i+=2

In [ ]:
num,a,b = 10,0,1
add = 0
while i<=num:
     print(a, end =" ")
     a,b=b,a+b
     i+=1

In [ ]:
num = int(input("enter a number value :"))
count = 0
i=1
while i<=num :
     if num % i==0:
        count+=1
if count==2:
   print("prime number")
else:
   print("not prime number")