In [10]:
sentence = "python programing language"
count = 0
for ch in sentence :
   if ch in "a e i o u" :
        count +=1
print("total values is :",count)

total values is : 10

In [15]:
# program on circle
radius = float(input("enter the area of radius value:"))
base = float(input("enter the area of base value:"))
height = float(input("enter the area of height value:"))
area = 0.5*base*height
print("area of radius is :",radius)

enter the area of radius value:5
enter the area of base value:6
enter the area of height value:6
area of radius is : 5.0

In [17]:
#program on reactangle
length = float(input("enter the area of length value:"))
width = float(input("enter the area of width value:"))
area = length*width
print("area of length is :",area)

enter the area of length value:10
enter the area of width value:5
area of length is : 50.0

In [19]:
ex = [5,25,35,28,45,10,15]
largest=max(ex)

print("the largest  number is :",largest)

the largest  number is : 45

In [25]:
#write a program count of consonents in string value

sentence = "bachelor of computer science first semester section c"
count = 0
for ch in sentence :
   if ch not in "a e i o u" :
        count += 1
print("total values is :",count)

total values is : 29

In [26]:
colours = {"purple","pink","black","white","red","orange",
          "levender","gray","yellow","maroon"}
for colour in colours :
    if colour == "black":
      break
    print(colour)

pink
levender
yellow
red
maroon
white
orange
purple
gray

In [29]:
fruits = {"apple","mango","strawberry","dragon fruiy","orange",
          "avogado","pappaya","pineapple"}
for fruit in fruits :
    if fruit == "avogado":
      break
    print(fruit)

apple
pineapple
orange
mango
dragon fruiy
strawberry
pappaya

In [41]:
for i in range(10):
    for j in range(10):
        print("***",end=" ")
    print()

*** *** *** *** *** *** *** *** *** ***
*** *** *** *** *** *** *** *** *** ***
*** *** *** *** *** *** *** *** *** ***
*** *** *** *** *** *** *** *** *** ***
*** *** *** *** *** *** *** *** *** ***
*** *** *** *** *** *** *** *** *** ***
*** *** *** *** *** *** *** *** *** ***
*** *** *** *** *** *** *** *** *** ***
*** *** *** *** *** *** *** *** *** ***
*** *** *** *** *** *** *** *** *** ***

In [40]:
for i in range(10):
    for j in range(10):
       print(j,end=" ")
    print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9

In [62]:
for i in range(11,0,-1):
    for j in range(i):
       print(j,end=" ")
    print()

0 1 2 3 4 5 6 7 8 9 10
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [63]:
for i in range(8):
    for j in range(0,i+1):
       print(" ",end=" ")
    for j in range(8):
       print("*",end=" ")
    print()

  * * * * * * * *
    * * * * * * * *
      * * * * * * * *
        * * * * * * * *
          * * * * * * * *
            * * * * * * * *
              * * * * * * * *
                * * * * * * * *

In [84]:
for i in range(8):
    for j in range(i+1,8):
       print("",end=" ")
    for j in range(8):
       print("**",end=" ")
    print()

       ** ** ** ** ** ** ** **
      ** ** ** ** ** ** ** **
     ** ** ** ** ** ** ** **
    ** ** ** ** ** ** ** **
   ** ** ** ** ** ** ** **
  ** ** ** ** ** ** ** **
 ** ** ** ** ** ** ** **
** ** ** ** ** ** ** **

In [91]:
row=5
col=5
for i in range(0,row):
    for j in range(0,col):
        if i == 0 or j == 0 or i == row-1 or j == col-1:
           print("",end=" ")
        else:
           print(" ",end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [92]:
for i in range(10):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [118]:
num =10
for i in range(0,num):
    for j in range(0,num-i-1):
        print(" ",end=" ")
    for j in range(0,i*2+1):
        print("*",end=" ")
    print()
for i in range(0,num):
    for j in range(0,i):
        print(" ",end=" ")
    for j in range(0,(num-i)*2-1):
        print("*",end=" ")
    print()

                  *
                * * *
              * * * * *
            * * * * * * *
          * * * * * * * * *
        * * * * * * * * * * *
      * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
      * * * * * * * * * * * * *
        * * * * * * * * * * *
          * * * * * * * * *
            * * * * * * *
              * * * * *
                * * *
                  *

In [120]:
# 1 example

def ex():
    print("good afternoon")

ex()

good afternoon

In [121]:
def fun (num):
    return num*num
fun(4)

16

In [122]:
def add(a,b):
   print(f'addtion of num is {a+b}')
add(5,10)

addtion of num is 15