In [1]:
import numpy as prachi
arr=prachi.array([1,2,3,4,5])
print("numpy array:",arr)

numpy array: [1 2 3 4 5]

In [2]:
import numpy as np
zeros=np.zeros(5)
ones=np.ones(5)
print("zeros:", zeros)
print("ones:", ones)

zeros: [0. 0. 0. 0. 0.]
ones: [1. 1. 1. 1. 1.]

In [3]:
from binascii import b2a_qp
import numpy as np
a= np.array([10, 20, 30])
b= np.array([1, 2, 3])
print("addition:", a+b)
print("multiplicatiom:",a*b)

addition: [11 22 33]
multiplicatiom: [10 40 90]

In [5]:
import numpy as np
arr = np.array([1, 4, 9, 16])
print("square root:", np.sqrt(arr))
print("mean:", np.mean(arr))

square root: [1. 2. 3. 4.]
mean: 7.5

In [11]:
import numpy as np
from scipy import stats
data = np.array([2,4,6,8,10,12,16])
mean=np.mean(data)
median=np.median(data)
mode=stats.mode(data)
range = np.max(data) - np.min(data)
print("mean value is:",mean)
print("median:",median)
print("mode:",mode)
print("range value is:",range)

mean value is: 8.285714285714286
median: 8.0
mode: ModeResult(mode=np.int64(2), count=np.int64(1))
range value is: 14

In [12]:
import numpy as np
matrix = np.array([[1,2],[3,4]])
print("matrix:\n",matrix)
print("transpose:\n",matrix.T)

matrix:
 [[1 2]
 [3 4]]
transpose:
 [[1 3]
 [2 4]]