In [134]:
example = (1,"prachi",3.12,False)
print(example)
print(len(example))
print(type(example))
print(example.count(1))
print(example[0:3])
print(example[3])
print(example[-1])
print(len(example))
print(type(example))

(1, 'prachi', 3.12, False)
4
<class 'tuple'>
1
(1, 'prachi', 3.12)
False
False
4
<class 'tuple'>

In [135]:
number=(2,4,7,9,3,2)
print(number)
add=(2,4,5,7)
print(number+add)
print(add*4)

(2, 4, 7, 9, 3, 2)
(2, 4, 7, 9, 3, 2, 2, 4, 5, 7)
(2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7)

In [136]:
example={1,2,2,3,3,4,5,6,7}
print(example)
print(type(example))
print(len(example))
example.add("BKC")
print(example)
example.add(5.67)
print(example)
example.add("True")
print(example)
example.remove(4)
print(example)
print(example.pop())
print(example)

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>
7
{1, 2, 3, 4, 5, 6, 7, 'BKC'}
{1, 2, 3, 4, 5, 6, 7, 5.67, 'BKC'}
{1, 2, 3, 4, 5, 6, 7, 5.67, 'True', 'BKC'}
{1, 2, 3, 5, 6, 7, 5.67, 'True', 'BKC'}
1
{2, 3, 5, 6, 7, 5.67, 'True', 'BKC'}

In [137]:
first={1,2,3,4,4,2}
second={3,5,4,6}
print(first | second)
print(first.union(second))
print(first & second)
print(first.intersection(second))
print(first - second)
print(first.difference(second))
print(second - first)
print(second.difference(first))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{5, 6}
{5, 6}

In [138]:
dict ={"roll_number"    :90,
       "name"           :"prachi",
       "gender"         :"female",
       "address"        :"gokak",
       "mobile"         :8762634100,
       "college"        : "KLE BK COLLEGE CHIKODI",
       "CGPA"           :7.53,
       "course"         :"BCA",
       "year"           : 2022
}
print(dict)
print(len(dict))
dict["gender"]="female"
print(dict)
dict["age"]=18
print(dict["age"])
dict.pop("address")
print(dict)
dict.popitem()
print(dict)
print(dict.keys())
print(dict.values())
print(dict.items())
print(dict.clear())

{'roll_number': 90, 'name': 'prachi', 'gender': 'female', 'address': 'gokak', 'mobile': 8762634100, 'college': 'KLE BK COLLEGE CHIKODI', 'CGPA': 7.53, 'course': 'BCA', 'year': 2022}
9
{'roll_number': 90, 'name': 'prachi', 'gender': 'female', 'address': 'gokak', 'mobile': 8762634100, 'college': 'KLE BK COLLEGE CHIKODI', 'CGPA': 7.53, 'course': 'BCA', 'year': 2022}
18
{'roll_number': 90, 'name': 'prachi', 'gender': 'female', 'mobile': 8762634100, 'college': 'KLE BK COLLEGE CHIKODI', 'CGPA': 7.53, 'course': 'BCA', 'year': 2022, 'age': 18}
{'roll_number': 90, 'name': 'prachi', 'gender': 'female', 'mobile': 8762634100, 'college': 'KLE BK COLLEGE CHIKODI', 'CGPA': 7.53, 'course': 'BCA', 'year': 2022}
dict_keys(['roll_number', 'name', 'gender', 'mobile', 'college', 'CGPA', 'course', 'year'])
dict_values([90, 'prachi', 'female', 8762634100, 'KLE BK COLLEGE CHIKODI', 7.53, 'BCA', 2022])
dict_items([('roll_number', 90), ('name', 'prachi'), ('gender', 'female'), ('mobile', 8762634100), ('college', 'KLE BK COLLEGE CHIKODI'), ('CGPA', 7.53), ('course', 'BCA'), ('year', 2022)])
None

In [139]:
dict = {"bank_number" : 1234567,
         "name" :"prachi kamatagi",
         "branch_name":"RBL BANK",
        "branch_code": 988,
        "email_id": "prachukamatagidolli@gmail.com",
        "age":18,
}
print(dict)
dict["balence"]="10,0000"
print(dict)
dict.pop("name")
print(dict)
dict.popitem()
print(dict)
print(dict.keys())
print(dict.values())

{'bank_number': 1234567, 'name': 'prachi kamatagi', 'branch_name': 'RBL BANK', 'branch_code': 988, 'email_id': 'prachukamatagidolli@gmail.com', 'age': 18}
{'bank_number': 1234567, 'name': 'prachi kamatagi', 'branch_name': 'RBL BANK', 'branch_code': 988, 'email_id': 'prachukamatagidolli@gmail.com', 'age': 18, 'balence': '10,0000'}
{'bank_number': 1234567, 'branch_name': 'RBL BANK', 'branch_code': 988, 'email_id': 'prachukamatagidolli@gmail.com', 'age': 18, 'balence': '10,0000'}
{'bank_number': 1234567, 'branch_name': 'RBL BANK', 'branch_code': 988, 'email_id': 'prachukamatagidolli@gmail.com', 'age': 18}
dict_keys(['bank_number', 'branch_name', 'branch_code', 'email_id', 'age'])
dict_values([1234567, 'RBL BANK', 988, 'prachukamatagidolli@gmail.com', 18])

In [140]:
Name = {"Name": "prachi",
        "name": "prachi",
        "F_name": "prachi",
        "L_name": "prachi"
}
print(Name)

{'Name': 'prachi', 'name': 'prachi', 'F_name': 'prachi', 'L_name': 'prachi'}

In [141]:
a=10
b=3
c=a+b
print(c)
print(type(a))
print(type(b))
print(type(c))
print(type(a/b))

13
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

In [142]:
x=2.5
y=3.5
print(type(x+y))

<class 'float'>

In [143]:
#
i=20
j=5.5
k=i+j
print(type(k))

<class 'float'>

In [144]:
a=49
b=7
print(type(a/b))

<class 'float'>

In [145]:
i=True
print(type(i))
j=5
print(type(i+j))

<class 'bool'>
<class 'int'>

In [173]:

m=2.9
n=False
o=m-n
print(type(o))

p=True
q=False
r=p+q
print(type(r))

s=2.6
t=False
print(type(s*t))

num=3.12
print(type(num))

add=int(num)
print(type(add))

add=(num)
print(type(num))

mul=float(add)
print(type(mul))

num="101"
print(type(num))

add=int(num)
print(type(add))

op=True
print(type(op))

po=int(op)
print(type(po))

print(type(str(10)))

print(type(bool(11)))

print(type(str(a+b)))

print(type(float(True)))

ex= float(False)
print(ex)
print(type(ex))

ex=str("prachi")
print(type(ex))

ex=float("9.88")
print(type(ex))

ex=bool("False")
print(type(ex))

<class 'float'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'bool'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'str'>
<class 'float'>
0.0
<class 'float'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [210]:

num1="prachi"
print(type(num1))

ex1=tuple(num1)
print(type(ex1))

n=[1,2]
print(type(n))

m=tuple(n)
print(type(m))

a={1,2}
print(type(a))

b={}
print(type(b))

c=tuple(b)
print(type(c))

<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'tuple'>

In [222]:
num1=("prachi")
print(type(num1))

ex1=list(num1)
print(type(ex1))

num2=[1,2,3]
print(type(num2))

ex2=list(num2)
print(type(ex2))

num3={1,2}
print(type(num3))

ex3=list(num3)
print(type(ex3))

num4={}
print(type(num4))

ex4=list(num4)
print(type(ex4))

num5=(1,3)
print(type(num5))

ex5=list(num5)
print(type(ex5))

<class 'str'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'set'>
<class 'list'>
<class 'dict'>
<class 'list'>
<class 'tuple'>
<class 'list'>

In [225]:

a=10
b=20
print("before swaping")
print("a=",a,"b=",b)
print("after swaping")
temp= a
a=b
b=temp
print("a=",a,"b=",b)

before swaping
a= 10 b= 20
after swaping
a= 20 b= 10

In [226]:
a=10
b=20
print("before swaping")
print("a=",a,"b",b)
print("after swaping")
a=a+b
b=a-b
a=a-b
print("a=",a,"b=",b)

before swaping
a= 10 b 20
after swaping
a= 20 b= 10